/* omport boostrap icons to use to avoid icons relative paths */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
/* Flexbox layout for title and thumbnail */
.zenodo-record-title-thumbnail {
    display: flex;
    align-items: center; /* Vertically center the thumbnail and title */
    margin-bottom: 15px;
}

.zenodo-record-thumbnail {
    margin-right: 15px; /* Space between thumbnail and title */
    max-width: 150px; /* Set a max-width for the thumbnail */
}

.zenodo-record-thumbnail img {
    width: 100%; /* Make the image fit within the max-width */
    height: auto; /* Maintain the aspect ratio */
    background-size: contain;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII=");
    

}

.zenodo-record-title {
    flex: 1; /* Ensure the title takes up the remaining space */
}

.zenodo-record-card {
    
    position: relative; /* Ensure the card container has a relative position for absolute positioning inside */
    padding-bottom: 40px; /* Add some padding to prevent overlap with content */
    
    /* border: 2px solid #4CAF50; Green border This is now controlled by the shortcode*/
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    margin-bottom: 20px; /* Add space between cards */
    /* background-color: #f9fff9; Light green background This is now controlled by the shortcode*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.zenodo-records-container {
    margin-top: 20px;
}

.hot-topic-badge {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
    margin-left: 10px;
    font-size: 0.9em;
}
/* Style for the 'Read more...' link */
.zenodo-record-link {
    display: inline-block;
    /* background-color: #008b00; button color This is now controlled by the shortcode*/
    color: #ffffff; /* White text */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.zenodo-record-link:hover {
    /* Dynamic now independent of the color chosen */
    filter: saturate(80%) contrast(120%);
    transform: scale(1.015);
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    z-index: 1;
    transition: filter 0.3s ease;
}

.zenodo-record-link i {
    margin-left: 8px; /* Space between the text and icons */
}


.timestamp {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: #666;
    background-color: rgba(255, 255, 255, 0.8); /* Slight background for visibility */
    padding: 5px;
    border-radius: 3px;
}
#totals {
    bottom: 3px;
    font-size: 10px;
}